*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
color: #ffffff;
}
html{
    margin: 0;
    padding: 0;

}

/* menu */
.menu a{
    color: #8E7BEF;
    text-decoration: none;
    padding: 0.5rem 0.9rem;
    transition: 0.4s;
}
.mostrar-menu,
.esconder-menu{
    font-size:30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu{
    order: 1;
}
.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{ 
    color: #fcda68;
}

#check{
    display: none;
}

/* header */
header{
    height: 5vh;
    background-color:#020403;
    padding: 0.9rem 1.5rem;
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;

}
#banner{
    display: flex;
    overflow: hidden;
    /* width: 100%; */
flex-direction: column;
align-items: center;
/* padding: 0 100px; */
/* justify-content: center; */
    background-color:#020403;
}
.imagen0{
    overflow: hidden;
    width: 15rem;
    height: 15rem;
    border-radius: 25%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.fotoA-E{
    width: 100%;
    height: 100%;
    
}
.info1 h1{
    
    font-size: 2.3rem;
   background-color: #020403;
}
.info1 h2{
    font-size: 1.2rem;
    color:#8E7BEF;
    background-color: #020403;
}


.redes{
    /* background-color: #d61a1a; */
 
    display: flex;
    width: 16rem;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    gap: 2rem;
    justify-content: space-between;
}
.circulo1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    right: 25px;
    border-radius: 50px;
    /* background-color: #8e7bef; */
}

.circulo2{ display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    right: 50px;
    border-radius: 50px;
    /* background-color: #8e7bef; */
    
}
.circulo3{ display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    right: 50px;
    border-radius: 50px;
    /* background-color: #8e7bef; */
    
}
.info1{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #423F40;
}

.acerca{
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    text-align: -webkit-center;
    padding: 5px 20px;
    margin: 5px 0;
    background-color:#020403;
}
.acerca h2{
    font-size: 2.5rem;
    padding-top: 25px;
    padding-bottom: 25px;

}
/*HABILIDADES*/
#informacion{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin: 0 100px; */

    background-color: #020403;
}
#informacion h2{
    font-size: 2.5rem;
    padding-top: 25px;
    padding-bottom: 25px;
    /* background-color: yellow; */

}
.habilidades{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem 6rem;
    row-gap: 0.5rem;
    column-gap: 3rem;
    /* background-color: #d61a1a; */
}
/* iconos de habilidades */

.icono{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #8E7BEF; */
}
/* imagen de icono1 */
.imgicono{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color:#423F40;
}
/* EXPERIENCIA*/
#Experiencia{
    display: flex;
    flex-direction: column;
    padding:  1rem 23% ;
    /* margin-top: 50px; */
    /* margin: 0 100px; */
    /* align-items: center; */
    /* background-color: blueviolet; */
    background-color: #020403;
}
#Experiencia h2{
    padding-top: 50px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 2.5rem;
    /* background-color: #d61a1a; */
}
.experiencia{
    height: 3.5rem;
    display: flex;
    gap: 5.5rem; 
    padding: 0.5rem; 
    margin-top: 1rem;
    /* background-color: yellow; */
}

.experiencia p.fecha{
    display: flex;
    position: relative;
    padding-top: 2.5rem;
    padding-left: 1rem;
    /* margin-right: 1rem; */
    /* background-color: #d61a1a; */
}
.experiencia p{
    justify-content: center;
    padding-top: 1rem;
    color: #fcda68;
}
.experiencia span{
    font-size: 1.3rem;
    font-weight: bold;
color: #8E7BEF;
}
/* PORTAFOLIO */
#imgportafolio{
    text-align: center;
    overflow: hidden;
    /* padding: 1rem; */
    background-color:#020403;
    /* background-color: brown; */
}
#imgportafolio h2{
    margin-top: 30px;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}
.imgejemplo{
    overflow: hidden;
    /* display: flex; */
    /* width: 20rem; */
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: #8E7BEF; */
}
.img-p{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    margin:  0.5rem 2rem;
    /* background-color: #fcda68; */
    background-color:#020403; 
}
.img{
    width: 100%;
}
/* CONTACTO*/

#Contacto{
   /* text-align: center; */
    /* flex-direction: column;  */
   /* align-items: center;  */
    /* overflow: hidden;  */
    background-color: #020204;
    /* background-color: #8E7BEF; */
}
#Contacto h2{
    text-align: center;
    font-size: 2.5rem;
    /* background-color: #423F40; */

}
.contenedor-contacto{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  0 auto;
    gap: 5rem;
    /* background-color: red; */
}
.cont1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
    /* margin-top: auto; */
    /* text-align: center; */
    /* background-color: gray; */
}
.phoneC{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: 6rem;
    height: 6rem;
    right: 25px; 
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;

}
.cont2{display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* margin-top: auto; */
    /* margin-bottom: auto; */
    /* background-color: blue; */
}
.mailC{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: 6rem;
    height: 6rem;
    right: 25px; 
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    /* background-color: coral; */
}


/* PIE DE PAG */
#pie{
    text-align: center;
    font-size: 2.0rem;
    padding-bottom: 50px;
    background-color:#020403;
}

/* Responsive */
@media(max-width:768px){

/* header */
    .mostrar-menu,
    .esconder-menu{
        display: block;
    }
    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:#423F40;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    
}
.menu a{
        display: block;
        padding: 20px;
}
.esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    
} 
#check:checked ~ .menu{
        right: 0;}
/* banner */
.info1{
    margin-top: 30px;
    background-color: #030402;
}
.info1 h1{
    font-size: 3.4rem;
}
.info1 h2{
    font-size: 1.8rem;
    color:#8E7BEF;  
    margin-bottom:20px ;
}
/* iconos redes */
.redes{
        background-color:#020403 ;
        display: flex;
        max-width: 200px;
        height: 50px;
        margin-top: 10px;
        margin-bottom: 30px;
        justify-content: space-between;
}

        #banner{
    
        display: flex;
        overflow: hidden;
        /* width: 100%; */
        flex-direction: column;
        align-items: center;
        /* padding: 0 100px; */
        
        background-color: #020403;
}
.imagen0{
        overflow: hidden;
        width: 13rem;
        height: 13rem;
        border-radius: 25%;
        margin-top: 50px;
        margin-bottom: 50px;
        margin: 1rem;
}
.fotoA-E{
            width: 100%;
            height: 100%;
            
}
.info1 h1{
        font-size: 2.7rem;
        background-color: #020403;
        }
.info1 h2{
        font-size: 1.8rem;
        color: #ADADAD;
        background-color: #020403;
}
        
        
.redes{
            /* background-color: #d61a1a; */
            display: flex;
            width: 10rem;
            height: 50px;
            margin-top: 10px;
            margin-bottom: 30px;
            justify-content: space-between;
        }
.circulo{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            right: 25px;
            border-radius: 50px;
            /* background-color: #8e7bef; */
        }
        
.info1{
            display: flex;
            flex-direction: column;
            text-align: center;
            background-color: #020403;
        }
        
.acerca{
            display: flex;
            align-items: center;
            flex-direction: column;
            overflow: hidden;
            text-align: -webkit-center;
            padding: 5px 20px;
            margin: 5px 0;
            background-color:#020403;
        }
.acerca h2{
            font-size: 1.8rem;
            padding-top: 25px;
            padding-bottom: 25px;
        
        }
        
        /*HABILIDADES*/
#informacion{
        display: flex;
        align-items: center;
        flex-direction: column;
        /* margin: 0 100px; */
        
        background-color: #020403;
}
#informacion h2{
            font-size: 1.8rem;
            padding-top: 25px;
            padding-bottom: 25px;
            /* background-color: yellow; */
        
        }
        .habilidades{
            display: flex;
            flex-direction: column;
            background-color:#020403;
        }
        /* iconos de habilidades */
        
        .icono{
            display: flex;
            flex-direction: column;
            align-items: center;
            /* background-color: #8E7BEF; */
        }
        /* imagen de icono1 */
        .imgicono{
            width: 70px;
            height: 70px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        
            background-color:#423F40;
        }
        
        /* EXPERIENCIA*/
        #Experiencia{
            padding: 1rem 5%;
            background-color: #020403;
        }
        #Experiencia h2{
            padding-top: 2rem;
            padding-bottom: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 1.8rem;
            /* background-color: #d61a1a; */
        }
        .experiencia{
            height: 3rem;
            display: flex;
            /* justify-content: center; */
            gap: 1.9rem; 
            /* padding: 0.5rem;  */
            /* margin-top: 1rem; */
            overflow: hidden;
            background-color: #020403;
        }
        
        .experiencia p.fecha{
            justify-content: center;
            align-items: center;
            font-size: 0.9rem;
            position: relative;
            padding-top: 0.3rem;
            padding-left: 5px;
            margin-right: 5px;
            /* background-color: #d61a1a; */
        }
        .experiencia p{
            justify-content: center;
            /* padding-top: 0.1rem; */
            background-color: #020403;
        }
        .experiencia span{
            font-size: 1.0rem;
            font-weight: bold;
            color: #8E7BEF;
        }
        
        /* Portafolio */
        
        #imgportafolio{
            /* /* background-color: #020403; */
            padding: 1rem; 
            /* background-color: #8E7BEF; */
        }
        #imgportafolio h2{ 
            font-size: 1.8rem;
            /* margin-bottom: 3rem; */
            /* background-color: rgb(6, 57, 102); */
        }
        .img-p{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        
        .imgejemplo{
            margin-top: 2rem;
            display: flex;
        overflow: hidden;
            /* background-color: #b61b00; */
        } 
        .img{
            width: 100%;
        }
        
        /* CONTACTO*/
        
        #Contacto{
            /* display: flex; */
            padding: 1rem;
            /* flex-direction: column; */
            /* align-items: center; */
            overflow: hidden;
            
            background-color:#020403;
        }
        #Contacto h2{
            /* text-align: center; */
            font-size: 1.8rem;
            /* background-color: #423F40; */
        
        }
        .Cspan{
            color: #8E7BEF;
            /* background-color: green; */
        }
        .CTexto{
            overflow: hidden;
            display: flex;
            /* width: 50%; */
            align-items: center;
            flex-direction: column;
            text-align: -webkit-center;
            padding: 5px 20px;
            margin: 0.5rem 0;
            font-size: 0.8rem;
            height: 3rem;
            /* background-color: #478a4c; */
        
        }
        
        
        .contenedor-contacto{
            display: grid;
            /* width: 100%; */
            width: 15rem;
            text-align-last: center;
            grid-template-columns: 1fr 1fr;
            gap: 0.5rem;
            /* background-color: red; */
        }
        .cont1{
            display: flex;
            /* width: 8rem; */
            /* margin-left: auto;
            margin-right: auto; */
            /* margin-bottom: 3rems;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center; */
            /* background-color: gray; */
        }
        .phoneC{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
            width: 4rem;
            height: 4rem;
            right: 25px; 
            border-radius: 50px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(255, 255, 255);
            border-image: initial;
        
        }
        .cont2{
            display: flex;
            /* margin-left: auto;
            margin-right: auto;
            width: 8rem; */
            /* justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center; */
            /* background-color: #020403; */
        }
        .mailC{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
            margin-bottom: 20px;
            width: 4rem;
            height: 4rem;
            right: 25px; 
            border-radius: 50px;
            border-width: 1px;
            border-style: solid;
            border-color: rgb(255, 255, 255);
            border-image: initial;
            /* background-color: coral; */
        }
        #pie{
            text-align: center;
            font-size: 1.5rem;
            padding-bottom: 2rem;
            background-color:#020403;
        }
}